In [28]:
import pandas as pd
from datetime import date
from schema import Schema, And, Use

# Imputting Historical Financial Data

In [13]:
company_data = {
    'company_name':'Apple',
    'ticker':'APPL',
    'circuit_break(1=off,0=on)':1,
    'latest_closing_share_price':171.25,
    'latest_closing_share_price_date': date(2019,4,2),
    'latest_fiscal_year_end_date':date(2018,9,29),
    'shares_outstanding("millions")':4745398,
    'select_and_operating_scenario':'Base case'
                }

In [17]:

first_fiscal_year = 2016
last_fiscal_year = 2018

fiscal_year = {i for i in range(first_fiscal_year,last_fiscal_year+1)}
fiscal_year_and_date =  []
income_statement={
    ''


}

In [18]:
fiscal_year

{2016, 2017, 2018}

In [29]:
income_statement_schema = Schema([{
    'revenue': And(float),
    'cost_of_sales': And(float),
    'gross_profit': And(float),
    'research_development':And(float),
    'sga':And(float),
    'operating_profit(ebit)': And(float),
    'interest_expense':And(float),
    'other_expense':And(float),
    'pretax_profit':And(float),
    'other_expenses':And(float),
    'net_income':And(float)
}])

## Income Statement

In [49]:
income_statement_2016={}
income_statement_2017={}
income_statement_2018={}

def calculate_gross(income_statement):
    return income_statement['revenue']-income_statement['cost_of_sales']

def calculate_operating_profit_ebit(income_statement):
    return income_statement['gross_profit']-income_statement['research_development']-income_statement['sga']

def calculate_pretax_profit(income_statement):
    return income_statement['operating_profit_ebit']-income_statement['interest_income'] - income_statement['interest_expense']-income_statement['other_expense']
    
def calculate_net_income(income_statement):
    return income_statement['pretax_profit']-income_statement['taxes']
    
def calculate_ebitda(income_statement):
    return income_statement['depreciation_amortization']+income_statement['operating_profit_ebit']

def calculate_ebitda_adjusted(income_statement):
    return income_statement['ebitda']+income_statement['stock_based_compensation']

# 2016
income_statement_2016['revenue']= 215639.00
income_statement_2016['cost_of_sales'] = 131376.00
income_statement_2016['gross_profit']= calculate_gross(income_statement_2016)
income_statement_2016['research_development']= 10045.00
income_statement_2016['sga']= 14194.00
income_statement_2016['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2016)
income_statement_2016['interest_income']=  -3999.00
income_statement_2016['interest_expense']=  1456.00
income_statement_2016['other_expense']= 1195.00
income_statement_2016['pretax_profit']= calculate_pretax_profit(income_statement_2016)
income_statement_2016['taxes']= 15685.00
income_statement_2016['net_income']=calculate_net_income(income_statement_2016)
income_statement_2016['depreciation_amortization']= 10505.00             #that data came from cash flow statement 
income_statement_2016['ebitda']= calculate_ebitda(income_statement_2016)
income_statement_2016['stock_based_compensation']=  4210.00             #that data came from cash flow statement
income_statement_2016['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2016)

# 2017
income_statement_2017['revenue']= 229234.00
income_statement_2017['cost_of_sales'] = 141048.00
income_statement_2017['gross_profit']= calculate_gross(income_statement_2017)
income_statement_2017['research_development']= 11581.00
income_statement_2017['sga']= 15261.00
income_statement_2017['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2017)
income_statement_2017['interest_income']= -5201.00
income_statement_2017['interest_expense']= 2323.00
income_statement_2017['other_expense']= 133.00
income_statement_2017['pretax_profit']= calculate_pretax_profit(income_statement_2017)
income_statement_2017['taxes']= 15738.00
income_statement_2017['net_income']=calculate_net_income(income_statement_2017)
income_statement_2017['depreciation_amortization']= 10157.00            #that data came from cash flow statement 
income_statement_2017['ebitda']= calculate_ebitda(income_statement_2017)
income_statement_2017['stock_based_compensation']=  4840.00           #that data came from cash flow statement
income_statement_2017['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2017)

# 2018
income_statement_2018['revenue']= 265595.00
income_statement_2018['cost_of_sales'] = 163756.00
income_statement_2018['gross_profit']= calculate_gross(income_statement_2018)
income_statement_2018['research_development']= 14236.00
income_statement_2018['sga']=16705.00
income_statement_2018['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2018)
income_statement_2018['interest_income'] = -5686
income_statement_2018['interest_expense']= 3240
income_statement_2018['other_expense']= 441
income_statement_2018['pretax_profit']= calculate_pretax_profit(income_statement_2018)
income_statement_2018['taxes']= 13372.00
income_statement_2018['net_income']=calculate_net_income(income_statement_2018)
income_statement_2018['depreciation_amortization']= 10903      #that data came from cash flow statement 
income_statement_2018['ebitda']= calculate_ebitda(income_statement_2018)
income_statement_2018['stock_based_compensation']= 5340             #that data came from cash flow statement
income_statement_2018['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2018)

In [51]:
income_statement = {2016:income_statement_2016,2017:income_statement_2017,2018:income_statement_2018}

In [52]:
pd.DataFrame.from_dict(income_statement, orient='columns')

                               2016      2017      2018
revenue                    215639.0  229234.0  265595.0
cost_of_sales              131376.0  141048.0  163756.0
gross_profit                84263.0   88186.0  101839.0
research_development        10045.0   11581.0   14236.0
sga                         14194.0   15261.0   16705.0
operating_profit_ebit       60024.0   61344.0   70898.0
interest_income             -3999.0   -5201.0   -5686.0
interest_expense             1456.0    2323.0    3240.0
other_expense                1195.0     133.0     441.0
pretax_profit               61372.0   64089.0   72903.0
taxes                       15685.0   15738.0   13372.0
net_income                  45687.0   48351.0   59531.0
depreciation_amortization   10505.0   10157.0   10903.0
ebitda                      70529.0   71501.0   81801.0
stock_based_compensation     4210.0    4840.0    5340.0
adjusted_ebitda             74739.0   76341.0   87141.0