In [2]:
import pandas as pd
from datetime import date
from schema import Schema, And, Use

# Imputing Historical Financial Data

In [3]:
company_data = {
    'company_name':'Apple',
    'ticker':'APPL',
    'circuit_break(1=off,0=on)':1,
    'latest_closing_share_price':171.25,
    'latest_closing_share_price_date': date(2019,4,2),
    'latest_fiscal_year_end_date':date(2018,9,29),
    'shares_outstanding("millions")':4745398,
    'select_and_operating_scenario':'Base case'
                }

In [4]:

first_fiscal_year = 2016
last_fiscal_year = 2018

fiscal_year = {i for i in range(first_fiscal_year,last_fiscal_year+1)}
fiscal_year_and_date =  []
income_statement={
    ''


}

In [5]:
fiscal_year

{2016, 2017, 2018}

In [6]:
income_statement_schema = Schema([{
    'revenue': And(float),
    'cost_of_sales': And(float),
    'gross_profit': And(float),
    'research_development':And(float),
    'sga':And(float),
    'operating_profit(ebit)': And(float),
    'interest_expense':And(float),
    'other_expense':And(float),
    'pretax_profit':And(float),
    'other_expenses':And(float),
    'net_income':And(float)
}])

## Income Statement

In [7]:
income_statement_2016={}
income_statement_2017={}
income_statement_2018={}

def calculate_gross(income_statement):
    return income_statement['revenue']-income_statement['cost_of_sales']

def calculate_operating_profit_ebit(income_statement):
    return income_statement['gross_profit']-income_statement['research_development']-income_statement['sga']

def calculate_pretax_profit(income_statement):
    return income_statement['operating_profit_ebit']-income_statement['interest_income'] - income_statement['interest_expense']-income_statement['other_expense']
    
def calculate_net_income(income_statement):
    return income_statement['pretax_profit']-income_statement['taxes']
    
def calculate_ebitda(income_statement):
    return income_statement['depreciation_amortization']+income_statement['operating_profit_ebit']

def calculate_ebitda_adjusted(income_statement):
    return income_statement['ebitda']+income_statement['stock_based_compensation']

# 2016
income_statement_2016['revenue']= 215639.00
income_statement_2016['cost_of_sales'] = 131376.00
income_statement_2016['gross_profit']= calculate_gross(income_statement_2016)
income_statement_2016['research_development']= 10045.00
income_statement_2016['sga']= 14194.00
income_statement_2016['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2016)
income_statement_2016['interest_income']=  -3999.00
income_statement_2016['interest_expense']=  1456.00
income_statement_2016['other_expense']= 1195.00
income_statement_2016['pretax_profit']= calculate_pretax_profit(income_statement_2016)
income_statement_2016['taxes']= 15685.00
income_statement_2016['net_income']=calculate_net_income(income_statement_2016)
income_statement_2016['depreciation_amortization']= 10505.00             #that data came from cash flow statement 
income_statement_2016['ebitda']= calculate_ebitda(income_statement_2016)
income_statement_2016['stock_based_compensation']=  4210.00             #that data came from cash flow statement
income_statement_2016['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2016)

# 2017
income_statement_2017['revenue']= 229234.00
income_statement_2017['cost_of_sales'] = 141048.00
income_statement_2017['gross_profit']= calculate_gross(income_statement_2017)
income_statement_2017['research_development']= 11581.00
income_statement_2017['sga']= 15261.00
income_statement_2017['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2017)
income_statement_2017['interest_income']= -5201.00
income_statement_2017['interest_expense']= 2323.00
income_statement_2017['other_expense']= 133.00
income_statement_2017['pretax_profit']= calculate_pretax_profit(income_statement_2017)
income_statement_2017['taxes']= 15738.00
income_statement_2017['net_income']=calculate_net_income(income_statement_2017)
income_statement_2017['depreciation_amortization']= 10157.00            #that data came from cash flow statement 
income_statement_2017['ebitda']= calculate_ebitda(income_statement_2017)
income_statement_2017['stock_based_compensation']=  4840.00           #that data came from cash flow statement
income_statement_2017['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2017)

# 2018
income_statement_2018['revenue']= 265595.00
income_statement_2018['cost_of_sales'] = 163756.00
income_statement_2018['gross_profit']= calculate_gross(income_statement_2018)
income_statement_2018['research_development']= 14236.00
income_statement_2018['sga']=16705.00
income_statement_2018['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2018)
income_statement_2018['interest_income'] = -5686
income_statement_2018['interest_expense']= 3240
income_statement_2018['other_expense']= 441
income_statement_2018['pretax_profit']= calculate_pretax_profit(income_statement_2018)
income_statement_2018['taxes']= 13372.00
income_statement_2018['net_income']=calculate_net_income(income_statement_2018)
income_statement_2018['depreciation_amortization']= 10903      #that data came from cash flow statement 
income_statement_2018['ebitda']= calculate_ebitda(income_statement_2018)
income_statement_2018['stock_based_compensation']= 5340             #that data came from cash flow statement
income_statement_2018['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2018)

In [8]:
income_statement = {2016:income_statement_2016,2017:income_statement_2017,2018:income_statement_2018}

In [9]:
income_statement = pd.DataFrame.from_dict(income_statement, orient='columns')

In [10]:
income_statement

                               2016      2017      2018
revenue                    215639.0  229234.0  265595.0
cost_of_sales              131376.0  141048.0  163756.0
gross_profit                84263.0   88186.0  101839.0
research_development        10045.0   11581.0   14236.0
sga                         14194.0   15261.0   16705.0
operating_profit_ebit       60024.0   61344.0   70898.0
interest_income             -3999.0   -5201.0   -5686.0
interest_expense             1456.0    2323.0    3240.0
other_expense                1195.0     133.0     441.0
pretax_profit               61372.0   64089.0   72903.0
taxes                       15685.0   15738.0   13372.0
net_income                  45687.0   48351.0   59531.0
depreciation_amortization   10505.0   10157.0   10903.0
ebitda                      70529.0   71501.0   81801.0
stock_based_compensation     4210.0    4840.0    5340.0
adjusted_ebitda             74739.0   76341.0   87141.0

## Growth rates & margins

In [11]:
revenue_2016 = income_statement[2016]['revenue']
revenue_2017 = income_statement[2017]['revenue']
revenue_2018 = income_statement[2018]['revenue']

growth_rate_margins = {
                2016:{'revenue_growth': '-'},
                2017:{'revenue_growth':round((revenue_2017/revenue_2016-1)*100,2)},
                2018:{'revenue_growth':round((revenue_2018/revenue_2017-1)*100,2)}}




for year in income_statement:

    #calculate gross profit margin per year
    growth_rate = round(income_statement[year]['gross_profit']/income_statement[year]['revenue']*100,2)

    #calculate R&D % of sales in per year
    research_margin = round(income_statement[year]['research_development']/income_statement[year]['revenue']*100,2)

    #calculate SGA % of sales in per year
    sga_margin = round(income_statement[year]['sga']/income_statement[year]['revenue']*100,2)

    #calculate TAX rate
    taxes_rate = round(income_statement[year]['taxes']/income_statement[year]['revenue']*100,2)

    growth_rate_margins[year]['gross_profit_margin']=growth_rate
    growth_rate_margins[year]['research_development_%_sales']=research_margin
    growth_rate_margins[year]['sga_%_of_sales']=research_margin
    growth_rate_margins[year]['taxes_rate']= taxes_rate

In [12]:
growth_rate_margins = pd.DataFrame.from_dict(growth_rate_margins, orient='columns')

In [13]:
growth_rate_margins

                               2016   2017   2018
revenue_growth                    -   6.30  15.86
gross_profit_margin           39.08  38.47  38.34
research_development_%_sales   4.66   5.05   5.36
sga_%_of_sales                 4.66   5.05   5.36
taxes_rate                     7.27   6.87   5.03

## Balance Sheet

In [14]:
balance_sheet = {2017:{}, 2018:{}}

def total_current_asset(balance_sheet):
   list_of_assets_values = []
   for key in balance_sheet.keys():
      if key == 'other_non_current_assets':
        list_of_assets_values.append(balance_sheet[key])
        break
      else:
        list_of_assets_values.append(balance_sheet[key])

   return sum(list_of_assets_values)

In [15]:
# current asset 2017
balance_sheet_2017 =  {
    'cash_equivalents': 20289.00,
    'accounts_receivable(net)':17874.00,
    'inventories':4855.00,
    'other_current_assets':13936.00
}
marketable_securities = 53892.00
vendor_non_trade_receivables = 17799.00
balance_sheet_2017['other_current_assets'] += marketable_securities + vendor_non_trade_receivables 

# non current asset 2017
balance_sheet_2017['property_plant_equipment_net'] = 33783.00
marketable_securities_non_current = 194714.00
other_non_current_assets = 18177.00
balance_sheet_2017['other_non_current_assets'] = marketable_securities_non_current + other_non_current_assets

balance_sheet_2017['total_assets'] = total_current_asset(balance_sheet_2017)

# liabilities 2017
balance_sheet_2017['accounts_payable']=44242.00
balance_sheet_2017['other_current_liabilities']=30551.00
balance_sheet_2017['deferred_revenue(current_and_non)']=7548.00+2836.00
balance_sheet_2017['commercial_paper_revolver']=11977.00
balance_sheet_2017['long_term_debt_includes_current_portion']= 6496.00+97207.00
balance_sheet_2017['other_non_current_liabilities']=40415.00

In [16]:
# current asset 2018
balance_sheet_2018 =  {
    'cash_equivalents': 25913.00,
    'accounts_receivable(net)':23186.00,
    'inventories':3956.00,
    'other_current_assets':12087.00
}
marketable_securities = 40388.00
vendor_non_trade_receivables = 25809.00
balance_sheet_2018['other_current_assets'] += marketable_securities + vendor_non_trade_receivables 

# non current asset 2018
balance_sheet_2018['property_plant_equipment_net'] = 41304.00
marketable_securities_non_current = 170799.00
other_non_current_assets = 22283.00
balance_sheet_2018['other_non_current_assets'] = marketable_securities_non_current + other_non_current_assets
balance_sheet_2018['total_assets'] = total_current_asset(balance_sheet_2018)

# liabilities 2018
balance_sheet_2018['accounts_payable']=55888.00
balance_sheet_2018['other_current_liabilities']=32687.00
balance_sheet_2018['deferred_revenue(current_and_non)']=7543.00+2797.00
balance_sheet_2018['commercial_paper_revolver']=11964.00
balance_sheet_2018['long_term_debt_includes_current_portion']= 8784.00+93735.00
balance_sheet_2018['other_non_current_liabilities']=45180.00

In [17]:
# liabilities 2018

In [18]:
balance_sheet[2017]= balance_sheet_2017
balance_sheet[2018]= balance_sheet_2018

balance_sheet = pd.DataFrame.from_dict(balance_sheet, orient='columns')

In [19]:
balance_sheet_assets = balance_sheet.loc[['cash_equivalents','accounts_receivable(net)','inventories','other_current_assets','property_plant_equipment_net','other_non_current_assets','total_assets']]

* Assets

In [20]:
balance_sheet_assets

                                  2017      2018
cash_equivalents               20289.0   25913.0
accounts_receivable(net)       17874.0   23186.0
inventories                     4855.0    3956.0
other_current_assets           85627.0   78284.0
property_plant_equipment_net   33783.0   41304.0
other_non_current_assets      212891.0  193082.0
total_assets                  375319.0  365725.0

* Liabilities

In [22]:
balance_sheet_liabilities = balance_sheet.loc[['accounts_payable','other_current_liabilities','deferred_revenue(current_and_non)','commercial_paper_revolver','long_term_debt_includes_current_portion','other_non_current_liabilities']]

In [23]:
balance_sheet_liabilities[2017]['total_liabilities'] = 0
balance_sheet_liabilities[2018]['total_liabilities'] = 0
for year in balance_sheet_liabilities:
    balance_sheet_liabilities[year]['total_liabilities']=balance_sheet_liabilities[year].sum()

In [27]:
total_liabilitities = pd.DataFrame.from_dict({'total_liabilities':balance_sheet_liabilities.sum()}, orient='index')

In [28]:
pd.concat([balance_sheet_liabilities,total_liabilitities])

                                             2017      2018
accounts_payable                          44242.0   55888.0
other_current_liabilities                 30551.0   32687.0
deferred_revenue(current_and_non)         10384.0   10340.0
commercial_paper_revolver                 11977.0   11964.0
long_term_debt_includes_current_portion  103703.0  102519.0
other_non_current_liabilities             40415.0   45180.0
total_liabilities                        241272.0  258578.0