In [33]:
import pandas as pd
from datetime import date
from schema import Schema, And, Use

# Imputing Historical Financial Data

In [34]:
company_data = {
    'company_name':'Apple',
    'ticker':'APPL',
    'circuit_break(1=off,0=on)':1,
    'latest_closing_share_price':171.25,
    'latest_closing_share_price_date': date(2019,4,2),
    'latest_fiscal_year_end_date':date(2018,9,29),
    'shares_outstanding("millions")':4745398,
    'select_and_operating_scenario':'Base case'
                }

In [35]:

first_fiscal_year = 2016
last_fiscal_year = 2018

fiscal_year = {i for i in range(first_fiscal_year,last_fiscal_year+1)}
fiscal_year_and_date =  []
income_statement={
    ''


}

In [36]:
fiscal_year

{2016, 2017, 2018}

In [37]:
income_statement_schema = Schema([{
    'revenue': And(float),
    'cost_of_sales': And(float),
    'gross_profit': And(float),
    'research_development':And(float),
    'sga':And(float),
    'operating_profit(ebit)': And(float),
    'interest_expense':And(float),
    'other_expense':And(float),
    'pretax_profit':And(float),
    'other_expenses':And(float),
    'net_income':And(float)
}])

## Income Statement

In [38]:
income_statement_2016={}
income_statement_2017={}
income_statement_2018={}

def calculate_gross(income_statement):
    return income_statement['revenue']-income_statement['cost_of_sales']

def calculate_operating_profit_ebit(income_statement):
    return income_statement['gross_profit']-income_statement['research_development']-income_statement['sga']

def calculate_pretax_profit(income_statement):
    return income_statement['operating_profit_ebit']-income_statement['interest_income'] - income_statement['interest_expense']-income_statement['other_expense']
    
def calculate_net_income(income_statement):
    return income_statement['pretax_profit']-income_statement['taxes']
    
def calculate_ebitda(income_statement):
    return income_statement['depreciation_amortization']+income_statement['operating_profit_ebit']

def calculate_ebitda_adjusted(income_statement):
    return income_statement['ebitda']+income_statement['stock_based_compensation']

# 2016
income_statement_2016['revenue']= 215639.00
income_statement_2016['cost_of_sales'] = 131376.00
income_statement_2016['gross_profit']= calculate_gross(income_statement_2016)
income_statement_2016['research_development']= 10045.00
income_statement_2016['sga']= 14194.00
income_statement_2016['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2016)
income_statement_2016['interest_income']=  -3999.00
income_statement_2016['interest_expense']=  1456.00
income_statement_2016['other_expense']= 1195.00
income_statement_2016['pretax_profit']= calculate_pretax_profit(income_statement_2016)
income_statement_2016['taxes']= 15685.00
income_statement_2016['net_income']=calculate_net_income(income_statement_2016)
income_statement_2016['depreciation_amortization']= 10505.00             #that data came from cash flow statement 
income_statement_2016['ebitda']= calculate_ebitda(income_statement_2016)
income_statement_2016['stock_based_compensation']=  4210.00             #that data came from cash flow statement
income_statement_2016['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2016)

# 2017
income_statement_2017['revenue']= 229234.00
income_statement_2017['cost_of_sales'] = 141048.00
income_statement_2017['gross_profit']= calculate_gross(income_statement_2017)
income_statement_2017['research_development']= 11581.00
income_statement_2017['sga']= 15261.00
income_statement_2017['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2017)
income_statement_2017['interest_income']= -5201.00
income_statement_2017['interest_expense']= 2323.00
income_statement_2017['other_expense']= 133.00
income_statement_2017['pretax_profit']= calculate_pretax_profit(income_statement_2017)
income_statement_2017['taxes']= 15738.00
income_statement_2017['net_income']=calculate_net_income(income_statement_2017)
income_statement_2017['depreciation_amortization']= 10157.00            #that data came from cash flow statement 
income_statement_2017['ebitda']= calculate_ebitda(income_statement_2017)
income_statement_2017['stock_based_compensation']=  4840.00           #that data came from cash flow statement
income_statement_2017['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2017)

# 2018
income_statement_2018['revenue']= 265595.00
income_statement_2018['cost_of_sales'] = 163756.00
income_statement_2018['gross_profit']= calculate_gross(income_statement_2018)
income_statement_2018['research_development']= 14236.00
income_statement_2018['sga']=16705.00
income_statement_2018['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_2018)
income_statement_2018['interest_income'] = -5686
income_statement_2018['interest_expense']= 3240
income_statement_2018['other_expense']= 441
income_statement_2018['pretax_profit']= calculate_pretax_profit(income_statement_2018)
income_statement_2018['taxes']= 13372.00
income_statement_2018['net_income']=calculate_net_income(income_statement_2018)
income_statement_2018['depreciation_amortization']= 10903      #that data came from cash flow statement 
income_statement_2018['ebitda']= calculate_ebitda(income_statement_2018)
income_statement_2018['stock_based_compensation']= 5340             #that data came from cash flow statement
income_statement_2018['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_2018)

In [39]:
income_statement = {2016:income_statement_2016,2017:income_statement_2017,2018:income_statement_2018}

In [40]:
income_statement = pd.DataFrame.from_dict(income_statement, orient='columns')

In [41]:
income_statement

                               2016      2017      2018
revenue                    215639.0  229234.0  265595.0
cost_of_sales              131376.0  141048.0  163756.0
gross_profit                84263.0   88186.0  101839.0
research_development        10045.0   11581.0   14236.0
sga                         14194.0   15261.0   16705.0
operating_profit_ebit       60024.0   61344.0   70898.0
interest_income             -3999.0   -5201.0   -5686.0
interest_expense             1456.0    2323.0    3240.0
other_expense                1195.0     133.0     441.0
pretax_profit               61372.0   64089.0   72903.0
taxes                       15685.0   15738.0   13372.0
net_income                  45687.0   48351.0   59531.0
depreciation_amortization   10505.0   10157.0   10903.0
ebitda                      70529.0   71501.0   81801.0
stock_based_compensation     4210.0    4840.0    5340.0
adjusted_ebitda             74739.0   76341.0   87141.0

## Growth rates & margins

In [42]:
revenue_2016 = income_statement[2016]['revenue']
revenue_2017 = income_statement[2017]['revenue']
revenue_2018 = income_statement[2018]['revenue']

growth_rate_margins = {
                2016:{'revenue_growth': '-'},
                2017:{'revenue_growth':round((revenue_2017/revenue_2016-1)*100,2)},
                2018:{'revenue_growth':round((revenue_2018/revenue_2017-1)*100,2)}}




for year in income_statement:

    #calculate gross profit margin per year
    growth_rate = round(income_statement[year]['gross_profit']/income_statement[year]['revenue']*100,2)

    #calculate R&D % of sales in per year
    research_margin = round(income_statement[year]['research_development']/income_statement[year]['revenue']*100,2)

    #calculate SGA % of sales in per year
    sga_margin = round(income_statement[year]['sga']/income_statement[year]['revenue']*100,2)

    #calculate TAX rate
    taxes_rate = round(income_statement[year]['taxes']/income_statement[year]['revenue']*100,2)

    growth_rate_margins[year]['gross_profit_margin']=growth_rate
    growth_rate_margins[year]['research_development_%_sales']=research_margin
    growth_rate_margins[year]['sga_%_of_sales']=research_margin
    growth_rate_margins[year]['taxes_rate']= taxes_rate



#forecasting 3 years
growth_rate_margins_forecast = {2019:{'revenue_growth': -4.00,
                                        'gross_profit_margin' : 37.80 ,
                                        'research_development_%_sales': 7.40,
                                        'sga_%_of_sales':6.20,
                                        'taxes_rate':16.70},
                                2020:{
                                        'revenue_growth': 6.00,
                                        'gross_profit_margin' : 38.10,
                                        'research_development_%_sales': 6.90,
                                        'sga_%_of_sales':6.30,
                                        'taxes_rate':17.00},

                                2021:{
                                        'revenue_growth': 6.90,
                                        'gross_profit_margin' : 38.20,
                                        'research_development_%_sales': 6.90,
                                        'sga_%_of_sales':6.30,
                                        'taxes_rate':16.90}
                                }

growth_rate_margins_forecast = pd.DataFrame.from_dict(growth_rate_margins_forecast,orient='columns')

growth_rate_margins = pd.DataFrame.from_dict(growth_rate_margins, orient='columns')

In [43]:
growth_rate_margins= growth_rate_margins.merge(growth_rate_margins_forecast,how='inner', left_index=True, right_index=True)

In [44]:
growth_rate_margins

                               2016   2017   2018  2019  2020  2021
revenue_growth                    -   6.30  15.86  -4.0   6.0   6.9
gross_profit_margin           39.08  38.47  38.34  37.8  38.1  38.2
research_development_%_sales   4.66   5.05   5.36   7.4   6.9   6.9
sga_%_of_sales                 4.66   5.05   5.36   6.2   6.3   6.3
taxes_rate                     7.27   6.87   5.03  16.7  17.0  16.9

## Balance Sheet

In [45]:
balance_sheet = {2017:{}, 2018:{}}

def total_current_asset(balance_sheet):
   list_of_assets_values = []
   for key in balance_sheet.keys():
      if key == 'other_non_current_assets':
        list_of_assets_values.append(balance_sheet[key])
        break
      else:
        list_of_assets_values.append(balance_sheet[key])

   return sum(list_of_assets_values)

In [46]:
# current asset 2017
balance_sheet_2017 =  {
    'cash_equivalents': 20289.00,
    'accounts_receivable(net)':17874.00,
    'inventories':4855.00,
    'other_current_assets':13936.00
}
marketable_securities = 53892.00
vendor_non_trade_receivables = 17799.00
balance_sheet_2017['other_current_assets'] += marketable_securities + vendor_non_trade_receivables 

# non current asset 2017
balance_sheet_2017['property_plant_equipment_net'] = 33783.00
marketable_securities_non_current = 194714.00
other_non_current_assets = 18177.00
balance_sheet_2017['other_non_current_assets'] = marketable_securities_non_current + other_non_current_assets

balance_sheet_2017['total_assets'] = total_current_asset(balance_sheet_2017)

# liabilities 2017
balance_sheet_2017['accounts_payable']=44242.00
balance_sheet_2017['other_current_liabilities']=30551.00
balance_sheet_2017['deferred_revenue(current_and_non)']=7548.00+2836.00
balance_sheet_2017['commercial_paper_revolver']=11977.00
balance_sheet_2017['long_term_debt_includes_current_portion']= 6496.00+97207.00
balance_sheet_2017['other_non_current_liabilities']=40415.00

#equity 2017
balance_sheet_2017['common_stock'] = 35867.00
balance_sheet_2017['retained_earnings'] = 98330.00
balance_sheet_2017['other_comprehensive_income'] = -150.00

In [47]:
# current asset 2018
balance_sheet_2018 =  {
    'cash_equivalents': 25913.00,
    'accounts_receivable(net)':23186.00,
    'inventories':3956.00,
    'other_current_assets':12087.00
}
marketable_securities = 40388.00
vendor_non_trade_receivables = 25809.00
balance_sheet_2018['other_current_assets'] += marketable_securities + vendor_non_trade_receivables 

# non current asset 2018
balance_sheet_2018['property_plant_equipment_net'] = 41304.00
marketable_securities_non_current = 170799.00
other_non_current_assets = 22283.00
balance_sheet_2018['other_non_current_assets'] = marketable_securities_non_current + other_non_current_assets
balance_sheet_2018['total_assets'] = total_current_asset(balance_sheet_2018)

# liabilities 2018
balance_sheet_2018['accounts_payable']=55888.00
balance_sheet_2018['other_current_liabilities']=32687.00
balance_sheet_2018['deferred_revenue(current_and_non)']=7543.00+2797.00
balance_sheet_2018['commercial_paper_revolver']=11964.00
balance_sheet_2018['long_term_debt_includes_current_portion']= 8784.00+93735.00
balance_sheet_2018['other_non_current_liabilities']=45180.00

#equity 2018
balance_sheet_2018['common_stock'] = 40201.00
balance_sheet_2018['retained_earnings'] = 70400.00
balance_sheet_2018['other_comprehensive_income'] = -3454.00

In [48]:
balance_sheet[2017]= balance_sheet_2017
balance_sheet[2018]= balance_sheet_2018

balance_sheet = pd.DataFrame.from_dict(balance_sheet, orient='columns')

In [49]:
balance_sheet_assets = balance_sheet.loc[['cash_equivalents','accounts_receivable(net)','inventories','other_current_assets','property_plant_equipment_net','other_non_current_assets','total_assets']]

* Assets

In [50]:
balance_sheet_assets

                                  2017      2018
cash_equivalents               20289.0   25913.0
accounts_receivable(net)       17874.0   23186.0
inventories                     4855.0    3956.0
other_current_assets           85627.0   78284.0
property_plant_equipment_net   33783.0   41304.0
other_non_current_assets      212891.0  193082.0
total_assets                  375319.0  365725.0

* Liabilities

In [51]:
balance_sheet_liabilities = balance_sheet.loc[['accounts_payable','other_current_liabilities','deferred_revenue(current_and_non)','commercial_paper_revolver','long_term_debt_includes_current_portion','other_non_current_liabilities']]
total_liabilitities = pd.DataFrame.from_dict({'total_liabilities':balance_sheet_liabilities.sum()}, orient='index')
balance_sheet_liabilities = pd.concat([balance_sheet_liabilities,total_liabilitities])

In [52]:
balance_sheet_liabilities

                                             2017      2018
accounts_payable                          44242.0   55888.0
other_current_liabilities                 30551.0   32687.0
deferred_revenue(current_and_non)         10384.0   10340.0
commercial_paper_revolver                 11977.0   11964.0
long_term_debt_includes_current_portion  103703.0  102519.0
other_non_current_liabilities             40415.0   45180.0
total_liabilities                        241272.0  258578.0

* Equity

In [53]:
balance_sheet_equity = balance_sheet.loc[['common_stock','retained_earnings','other_comprehensive_income']]

# calculate the total equity dataframe
total_equity = pd.DataFrame.from_dict({'total_equity': balance_sheet_equity.sum()}, orient='index')

# concatenate total equity to balance sheet equity
balance_sheet_equity = pd.concat([balance_sheet_equity,total_equity])

In [54]:
balance_sheet_equity

                                2017      2018
common_stock                 35867.0   40201.0
retained_earnings            98330.0   70400.0
other_comprehensive_income    -150.0   -3454.0
total_equity                134047.0  107147.0

In [55]:
for year in balance_sheet.columns:
    if balance_sheet_assets[year]['total_assets'] == (balance_sheet_liabilities[year]['total_liabilities']+balance_sheet_equity[year]['total_equity']):
        print(f'All good!! balance sheet {year} checked')
    else:
        print(f'Something Wrong!! check the data of balance sheet')

All good!! balance sheet 2017 checked
All good!! balance sheet 2018 checked

## Additional Data

In [56]:
additional_data = {2016:{

    'capital_expenditures':12734.00,
    'd&a_related_only_to_PPe':-8300.00,
    'dividends':-12188.00,
    'repurchases':-29000.00,
    'weighted_average_interest_rate_on_commercial_paper':'-',
    'weighted_average_interest_rate_on_cash':round(0.0173*100,2),

},
2017:{

    'capital_expenditures':12451.00,
    'd&a_related_only_to_PPe':-8200.00,
    'dividends':-12803.00,
    'repurchases':-33001.00,
    'weighted_average_interest_rate_on_commercial_paper':0.0120*100,
    'weighted_average_interest_rate_on_cash':round(0.0199*100,2),

},
2018:{

    'capital_expenditures':13313.00,
    'd&a_related_only_to_PPe':-9300.00,
    'dividends':-13735.00,
    'repurchases':-73056.00,
    'weighted_average_interest_rate_on_commercial_paper':0.0218*100,
    'weighted_average_interest_rate_on_cash':round(0.0216*100,2),

}
}

In [57]:
additional_data = pd.DataFrame.from_dict(additional_data, orient='columns')

In [58]:
additional_data

,2016,2017,2018
capital_expenditures,12734.0,12451.00,13313.00
d&a_related_only_to_PPe,-8300.0,-8200.00,-9300.00
dividends,-12188.0,-12803.00,-13735.00
repurchases,-29000.0,-33001.00,-73056.00
weighted_average_interest_rate_on_commercial_paper,-,1.20,2.18
weighted_average_interest_rate_on_cash,1.73,1.99,2.16

# Forecasting Income Statement

In [59]:
def calculate_revenue_forecast(year,revenue,growth_rate_margins_forecast=growth_rate_margins_forecast):
    
    margin_growth = growth_rate_margins_forecast[year].loc['revenue_growth']/100+1

    return round(revenue*margin_growth,2)


def calculate_cost_of_sales_forecast(year,revenue, growth_rate_margins_forecast=growth_rate_margins_forecast):
    
    cost_of_sales_ratio = 1 -growth_rate_margins_forecast[year].loc['gross_profit_margin']/100

    return round(revenue*cost_of_sales_ratio,2)
    
def calculate_research_and_development_forecast(year, revenue, growth_rate_margins_forecast=growth_rate_margins_forecast):
    research_and_development_ratio = growth_rate_margins_forecast[year].loc['research_development_%_sales']/100

    return round(revenue*research_and_development_ratio,2)

def calculate_percent_of_sales_forecast(year,revenue,growth_rate_margins_forecast=growth_rate_margins_forecast):
    
    sga_ratio = growth_rate_margins_forecast[year].loc['sga_%_of_sales'] / 100

    return round(revenue*sga_ratio,2)

def calculate_taxes_forecast(year,pretax_revenue, growth_rate_margins_forecast=growth_rate_margins_forecast):
    
    taxes_ratio = growth_rate_margins_forecast[year].loc['taxes_rate']/100

    return round(pretax_revenue*taxes_ratio,2)

def calculate_stock_based_comp_forecast(year,income_statement=income_statement,growth_rate_margins_forecast=growth_rate_margins_forecast):

    sbc_ratio = growth_rate_margins_forecast[year].loc['revenue_growth']/100+1

    return round(income_statement[year-1].loc['stock_based_compensation'] * sbc_ratio,2)



income_statement_forecast={}
income_statement_forecast_dict={k:{} for k in growth_rate_margins_forecast}

for year in growth_rate_margins_forecast :

    if year-1 in income_statement.columns:
        revenue_before = income_statement[2018].loc['revenue']

        
    else:
        revenue_before = income_statement_forecast_dict[year-1]['revenue']


    income_statement_forecast['revenue']= calculate_revenue_forecast(year, revenue_before)
    revenue = income_statement_forecast['revenue']
    
    income_statement_forecast['cost_of_sales'] = calculate_cost_of_sales_forecast(year,revenue)
    income_statement_forecast['gross_profit']= calculate_gross(income_statement_forecast)
    income_statement_forecast['research_development']= calculate_research_and_development_forecast(year,revenue)
    income_statement_forecast['sga']=calculate_percent_of_sales_forecast(year, revenue)
    income_statement_forecast['operating_profit_ebit']= calculate_operating_profit_ebit(income_statement_forecast)
    income_statement_forecast['interest_income'] = float(0)
    income_statement_forecast['interest_expense']= float(0)
    income_statement_forecast['other_expense']= 441
    income_statement_forecast['pretax_profit']= calculate_pretax_profit(income_statement_forecast)
        
    pretax_revenue = income_statement_forecast['pretax_profit']
        

    income_statement_forecast['taxes']= calculate_taxes_forecast(year, pretax_revenue)
    income_statement_forecast['net_income']=calculate_net_income(income_statement_forecast)
    income_statement_forecast['depreciation_amortization']= float(0)      
    income_statement_forecast['ebitda']= calculate_ebitda(income_statement_forecast)
    income_statement_forecast['stock_based_compensation']= 0        #inline with revenue
    income_statement_forecast['adjusted_ebitda']= calculate_ebitda_adjusted(income_statement_forecast)

    income_statement_forecast_dict[year] = income_statement_forecast
    income_statement_forecast = {}

265595.0
254971.2
270269.47

In [61]:
income_statement_forecast_df = pd.DataFrame.from_dict(income_statement_forecast_dict, orient='columns')
income_statement = income_statement.merge(income_statement_forecast_df, left_index=True, right_index=True)

In [62]:
income_statement

,2016,2017,2018,2019,2020,2021
revenue,215639.0,229234.0,265595.0,254971.20,270269.47,288918.06
cost_of_sales,131376.0,141048.0,163756.0,158592.09,167296.80,178551.36
gross_profit,84263.0,88186.0,101839.0,96379.11,102972.67,110366.70
research_development,10045.0,11581.0,14236.0,18867.87,18648.59,19935.35
sga,14194.0,15261.0,16705.0,15808.21,17026.98,18201.84
operating_profit_ebit,60024.0,61344.0,70898.0,61703.03,67297.10,72229.51
interest_income,-3999.0,-5201.0,-5686.0,0.00,0.00,0.00
interest_expense,1456.0,2323.0,3240.0,0.00,0.00,0.00
other_expense,1195.0,133.0,441.0,441.00,441.00,441.00
pretax_profit,61372.0,64089.0,72903.0,61262.03,66856.10,71788.51
taxes,15685.0,15738.0,13372.0,10230.76,11365.54,12132.26
net_income,45687.0,48351.0,59531.0,51031.27,55490.56,59656.25
depreciation_amortization,10505.0,10157.0,10903.0,0.00,0.00,0.00
ebitda,70529.0,71501.0,81801.0,61703.03,67297.10,72229.51
stock_based_compensation,4210.0,4840.0,5340.0,0.00,0.00,0.00
adjusted_ebitda,74739.0,76341.0,87141.0,61703.03,67297.10,72229.51

In [63]:
growth_rate_margins_forecast

                              2019  2020  2021
revenue_growth                -4.0   6.0   6.9
gross_profit_margin           37.8  38.1  38.2
research_development_%_sales   7.4   6.9   6.9
sga_%_of_sales                 6.2   6.3   6.3
taxes_rate                    16.7  17.0  16.9